* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

.promo {
  height: 800px;
  background: url(../img/bg/main_bg.png) center center/cover no-repeat;
  padding: 38px 0 61px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

h1 {
  margin-top: 53px;
}

.title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 41px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #f9bf3b;
}

h2.title {
  margin-top: 21px;
}

.simple .title_big {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 21px;
}

.promo .promo_text {
  padding: 0 13px;
  margin-top: 23px;
  font-family: "Roboto Light";
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.promo .promo_text span {
  font-family: "Roboto - Bold";
  font-weight: 700;
  color: #f9bf3b;
}

.promo .promo_btn {
  display: block;
  margin: 0px auto;
  margin-top: 72px;
  margin-bottom: 71px;
  width: 313px;
  height: 72px;
  background-image: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  border: 4px solid rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  font-family: "Roboto Condensed";
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.more {
  margin-top: 71px;
}

.more .more_text {
  font-family: "Roboto - Thin";
  font-weight: 200;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

.waiting {
  background-color: #efefef;
  height: 607px;
  padding: 88px 0 75px 0;
}

.waiting .waiting_header,
.finish .finish_header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
}

.finish .finish_header {
  color: rgba(239, 239, 239, 1);
}

.waiting .waiting_divider,
.finish .finish_divider {
  width: 220px;
  height: 7px;
  background: #f9bf3b;
  margin: 0 auto;
  margin-top: 18px;
}

.waiting .waiting_subheader {
  margin-top: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  text-align: center;
  color: #4a4a4a;
}

.waiting .waiting_wrapper {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
  width: 342px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
  margin: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #4a4a4a;
}

.optimization {
  min-height: 547px;
  padding: 102px 0px 107px 0px;
}

.optimization .optimization_header {
  margin-left: 391px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  text-transform: uppercase;
  color: #299cbd;
}

.optimization .optimization_text {
  margin-top: 25px;
  margin-left: 391px;
  /* margin-bottom: 72px; */
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
}

.optimization .optimization_text span {
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.optimization .optimization_img {
  position: absolute;
  top: -54px;
  left: -240px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 69px 0;
  background: url(../img/bg/second_bg.png) center center/cover no-repeat;
}

.finish .finish_wrapper {
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
  width: 234px;
}
